{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}


{% block title %}
    Scillium - Account logout
{% endblock %}


{% block content %}
    {{ nav_bar }}

    <br>

    <div class="
        container 
        mt-4
        d-flex
        justify-content-center
        align-items-center
    ">
    
        <div class="
            col 
            col-xl-10     
        ">

            <div class="
                rounded
            ">

                <div class="
                    row 
                    g-0
                ">
                    <!-- Side carousels -->
                    <div class="
                        col-md-6 
                        col-lg-5 
                        d-none 
                        d-md-block
                    ">
                    

                        <!-- Game display show case -->
                        <div 
                            class="
                                carousel 
                                slide
                                h-100
                            " 
                            id = 'showcase-carousel'
                            data-bs-ride="carousel"
                        >
                            <div class="
                                carousel-inner
                                h-100
                            ">
                                <div class="carousel-item active h-100">
                                    <img src="{% static 'imgs/ark.jpeg' %}" class="d-block w-100 rounded fill h-100" alt="...">
                                </div>
                                <div class="carousel-item h-100">
                                    <img src="{% static 'imgs/bf1card.jpg' %}" class="d-block w-100 rounded fill h-100" alt="...">
                                </div>
                                <div class="carousel-item h-100">
                                    <img src="{% static 'imgs/conancardf.jpg' %}" class="d-block w-100 rounded fill h-100" alt="...">
                                </div>
                                <div class="carousel-item h-100">
                                    <img src="{% static 'imgs/mccard.jpg' %}" class="d-block w-100 rounded fill h-100" alt="...">
                                </div>
                            </div>

                            <!-- Buttons -->
                            <button 
                                class="carousel-control-prev" 
                                type="button" 
                                data-mdb-target="#showcase-carousel" 
                                data-mdb-slide="prev">

                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>


                            <button 
                                class="carousel-control-next" 
                                type="button" 
                                data-mdb-target="#showcase-carousel" 
                                data-mdb-slide="next">

                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>  


                    <!-- Details -->
                    <div 
                        style='background-color: var(--background-color-light);'
                        class="
                            col-md-6 
                            col-lg-7 
                            d-flex 
                            align-items-center
                            rounded-end
                        "
                    >
                        <div class="
                            card-body 
                            p-4 
                            p-lg-5 
                            text-light
                        ">
    
                            <form
                                action="{% url 'account:logout' %}"
                                method="post"
                            >   
            
                                <!-- Header -->
                                <div class="
                                    mb-5
                                ">
                                    <!-- Header -->
                                    <h1 class="
                                        fw-bold 
                                    ">Scillium</h1>

                                    <!-- Slogan -->
                                    <p class="
                                        text-muted
                                    ">
                                        Only pay for what you play.
                                    </p>
                                </div>
                                
        
        
            

                                <!-- 
                                    LOGIN or SIGN UP button
                                    -->
                                <div class="
                                    d-flex 
                                    justify-content-center
                                    flex-column
                                    align-items-center
                                    mb-5
                                ">

                                    <p
                                        class = '
                                            text-center
                                        '
                                    >
                                        Are you sure that you want to logout?
                                    </p>

                                    
                                    {% csrf_token %}
                                    <button 
                                        type="submit" 
                                        class="
                                            btn 
                                            btn-outline-danger 
                                        "
                                    >
                                        Logout
                                    </button>
                                </div>  
                        
            
                

                                <!-- Bottom -->
                                <div class="
                                    text-center
                                    text-muted
                                ">

                                    <!-- Tos, Privacy policy -->
                                    <p>
                                        <a href="">Terms of Service</a> 
                                         / 
                                        <a href="#!">Privacy Policy</a>
                                    </p>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ footer }}
{% endblock %}