{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static '/css/splash_page.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}

{% block title %}
    Scillium - Terms of Service
{% endblock %}

{% block content %}
    {{ nav_bar }}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-light p-3">
                <h1>Terms of Service</h1>
                <hr>
                {{ policy.content }}
            </div>
        </div>
    </div>
    {{ footer }}
{% endblock %}